<h1>Listing users</h1>

<table>
  <tr>
    <th>Url name</th>
    <th>Token</th>
    <th>Qiita update at</th>
    <th>New flag</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.url_name %></td>
    <td><%= user.repo_name %></td>
    <td><%= user.qiita_update_at %></td>
    <td><%= user.new_flag %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
